{% extends 'layout.html' %} {% block styles %}

<link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/change-password.css') }}" />

{% endblock styles %} {% block scripts %}

<script src="{{ url_for('static', filename='scripts/navActive.js') }}" defer></script>

{% endblock scripts %} {% block content %}

<header class="title rounded-pill shadow">
  <h1>tutorNET</h1>
</header>

{% block nav %}
<aside>
  <nav
       class="nav flex-column nav-pills align-items-center justify-content-center shadow-lg my-4 py-3 px-1">
    <p id="user" class="rounded-pill mb-2">
      {% if session["username"] %}
      {{ session["username"] }}
      {% else %}
      no username
      {% endif %}
    </p>
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link" href="/update-profile">Update Profile</a>
    <a class="nav-link" href="/subject-handler">Add/Remove Subject</a>
    <a class="nav-link" href="/change-password">Change Password</a>
    <a class="nav-link" href="/find-teacher">Find Teacher</a>
    <a class="nav-link" href="/delete-account">Delete Account</a>
    <a class="nav-link" href="/logout">Log Out</a>
  </nav>
</aside>
{% endblock nav %}

<main class="container my-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div class="card-body" id="card-body">
          <form action="/delete-account" method="POST">
            <h2>Are you sure?</h2>
            <hr class="thick-ruler" />
            <div class="form-row">
              <div class="col-md-6">
                <label for="password">Confirm account removal with password</label>
                <input
                       type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       aria-placeholder="password"
                       required />
              </div>

            </div>
            <button type="submit" class="btn btn-danger d-block mx-auto mt-3">
              Delete Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}