// VARIABLES
$font-family-base: "Inter",
	// Safari for macOS and iOS (San Francisco)
	-apple-system,
	// Chrome < 56 for macOS (San Francisco)
	BlinkMacSystemFont,
	// Windows
	"Segoe UI",
	// Android
	Roboto,
	// Basic web fallback
	"Helvetica Neue",
	Arial,
	// Linux
	"Noto Sans",
	// Sans serif fallback
	sans-serif,
	// Emoji fonts
	"Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #fd7e14;
$secondary: #6f42c1;
$terciary: #3fb1b5;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"terciary": $terciary,
);
$enable-shadows: true;
$link-color: white;
$link-hover-color: $primary;
$nav-pills-link-active-bg: $primary;
$nav-pills-link-active-color: white;
@import "../node_modules/bootstrap/scss/bootstrap";

// MIXINS
@mixin brand($color: white, $size: 1rem) {
	font: $size "Orbitron", sans-serif;
	color: $color;
}

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin-top: 3vh;
	background-color: $gray-200;
}

nav {
	background-color: $secondary;
}

.thick-ruler {
	border-top: 3px solid $secondary;
}

.btn {
	border-radius: 1rem;
}

.nav-link.active {
	border-radius: 0.7rem;
}
